body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 20px;
}
.default{
    background-color: dimgrey;
    color: white;
    border-radius: 4px;
    border-color: black;
    padding: 6px 12px;
    border: 1px solid transparent;
}
.medium {
    background-color: #f0ad4e;
    color: white;
    border-radius: 4px;
    padding: 6px 12px;
    border-color: #eea236;
    border: 1px solid transparent;
}
.reject {
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 6px 12px;
    border-color: red;
    border: 1px solid transparent;
}
.progr {
    background-color: lightskyblue;
    color: white;
    border-radius: 4px;
    padding: 6px 12px;
    border-color: skyblue;
    border: 1px solid transparent;
}
.test {
    background-color: yellowgreen;
    color: white;
    border-radius: 4px;
    padding: 6px 12px;
    border-color: lightgreen;
    border: 1px solid transparent;
}
.succ {
    background-color: limegreen;
    color: white;
    border-radius: 4px;
    padding: 6px 12px;
    border-color: seagreen;
    border: 1px solid transparent;
}
