
@{
    ViewData["Title"] = "Administrator Panel";
}

<h2>Administrator Panel</h2>
<ul class="list-group">
<li><a asp-controller="Products" asp-action="Index">Products</a></li>
<li><a asp-controller="Users" asp-action="Index">Users</a></li>
</ul>