@{
    ViewData["Title"] = "Home Page";
}
<h2>@ViewData["Message"]</h2>

<div class="container">
    <div class="row col-lg-6"><a asp-area="" asp-controller="Tickets" asp-action="Index" class="btn btn-default">Click here to view all Tickets!</a></div>
</div>