@model BugTrackerService.Models.TicketViewModels.TicketCreateEditViewModel

@{
    ViewData["Title"] = "Create report";
}

<h2>Create</h2>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ticket.Title" class="control-label"></label>
                <input asp-for="Ticket.Title" class="form-control" placeholder="Enter the title" />
                <span asp-validation-for="Ticket.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.Label("Product")
                @Html.DropDownListFor(m => m.ProductId, Model.Products, new { id = "productTable" })
                <span asp-validation-for="Ticket.Product" class="text-danger"></span>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <label asp-for="Ticket.Description" class="control-label"></label>
                    <textarea asp-for="Ticket.Description" class="form-control" placeholder="Describe your problem!"></textarea>
                    <span asp-validation-for="Ticket.Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload one or more files</p>
                    <input type="file" name="file" multiple />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

