@model BugTrackerService.Models.TicketViewModels.TicketCreateEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Ticket.TicketId" />

            <div class="form-group">
                <label asp-for="Ticket.OwnerId" class="control-label"></label>
                @Html.DisplayFor(u => u.Ticket.Owner.FullName)
            </div>
            @await Html.PartialAsync("_AssignedPartial")
            <div class="form-group">
                <label asp-for="Ticket.Product" class="control-label"></label>
                <select asp-for="Ticket.ProductId" asp-items="Model.Products" class="form-control"></select>
                <span asp-validation-for="Ticket.Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Title" class="control-label"></label>
                <input asp-for="Ticket.Title" class="form-control" />
                <span asp-validation-for="Ticket.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Description" class="control-label"></label>
                <input asp-for="Ticket.Description" class="form-control" />
                <span asp-validation-for="Ticket.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Status" class="control-label"></label>
                <select asp-for="Ticket.Status" asp-items="@new SelectList(Enum.GetValues(typeof(Status)))" class="form-control"></select>
                <span asp-validation-for="Ticket.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Priority" class="control-label"></label>
                <select asp-for="Ticket.Priority" asp-items="@new SelectList(Enum.GetValues(typeof(Priority)))" class="form-control"></select>
                <span asp-validation-for="Ticket.Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload one or more files</p>
                    <input type="file" name="file" multiple />
                </div>
                <ul class="attachment">
                    @foreach (var item in Model.Ticket.FileDetails)
                    {
                        <li>
                            <a class="title" href="/Tickets/DownloadFile/?fileName=@(item.Id + item.Extension)&ticketId=@item.TicketId">@item.FileName</a>
                            <a href="javascript:void(0);" data-id="@item.Id" class="deleteItem">X</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    <script>
        $('.deleteItem').click(function (e) {
            e.preventDefault();
            var $ctrl = $(this);
            if (confirm('Do you really want to delete this file?')) {
                $.ajax({
                    url: '@Url.Action("DeleteFile")',
                    type: 'POST',
                    data: { id: $(this).data('id') }
                }).done(function (data) {
                    if (data.result) {
                        $ctrl.closest('li').remove();
                    }
                    else if (!data.result) {
                        alert(data.Message);
                    }
                }).fail(function () {
                    alert("There is something wrong. Please try again.");
                })

            }
        });
    </script>

}