@model BugTrackerService.Models.TicketViewModels.TicketCreateEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Ticket.TicketId" />

            <div class="form-group">
                <label asp-for="Ticket.OwnerId" class="control-label"></label>
                @Html.DisplayFor(u => u.Ticket.Owner.FullName)
            </div>
            @await Html.PartialAsync("_AssignedPartial")
            <div class="form-group">
                <label asp-for="Ticket.Product" class="control-label"></label>
                <select asp-for="Ticket.ProductId" asp-items="Model.Products" class="form-control"></select>
                <span asp-validation-for="Ticket.Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Title" class="control-label"></label>
                <input asp-for="Ticket.Title" class="form-control" />
                <span asp-validation-for="Ticket.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Description" class="control-label"></label>
                <input asp-for="Ticket.Description" class="form-control" />
                <span asp-validation-for="Ticket.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Status" class="control-label"></label>
                <select asp-for="Ticket.Status" asp-items="@new SelectList(Enum.GetValues(typeof(Status)))" class="form-control"></select>
                <span asp-validation-for="Ticket.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Priority" class="control-label"></label>
                <select asp-for="Ticket.Priority" asp-items="@new SelectList(Enum.GetValues(typeof(Priority)))" class="form-control"></select>
                <span asp-validation-for="Ticket.Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>